<p id="notice"><%= notice %></p>

<div class="content-container">
  <div class="question">
    <%= @question.question_title %>
  </div>

  <div>
  <%= form_for :answer, url: answers_path do |f| %> 
    <% @question.question_inputs.each do |input| %>
      <div class="<%= input.answer_type%>"> <%= input.answer_label %> </div>
    <% end %>
    <%= f.submit %>
  <% end %>
  <%= link_to 'Edit', edit_question_path(@question) %> |
  <%= link_to 'Back', questions_path %>
  </div>
</div>
