<p id="notice"><%= notice %></p>

<div class="question">
  <%= @question.question_title %>
</div>

<div class="centered">
  <%= form_for :answer, url: answers_path do |f| %> 
    <% @question.question_inputs.each do |input| %>
      <%= f.label input.answer_label, class: "question-button" %>
      <% if input.answer_type == "button" %>
        <%= f.radio_button_tag(@question.id, input.answer_label) %><br>
        <% end %>
      <% end %>
    <%= f.submit %>
  <% end %>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
</div>
