<p id="notice"><%= notice %></p>

<div class="content-container">

  <div class="row-fluid">
    <!-- todo move this into partial -->
    <% unless session[:answered_questions].nil? %>
      <div class="col-md-4 left-panel">
        <% session[:answered_questions].each_value do |answered_question| %>
          <div class="answered-question"><h3><em><%= answered_question["answer_json"] %> </em></h3></div>
        <% end %>
      </div>
    <% end %>

    <div class="<%= session[:answered_questions].nil? ? 'col-md-12' : 'col-md-8' %>">
      <!-- todo style this and make it only show up sometimes -->
      <% unless (session[:progress_percentage].nil? || session[:progress_percentage] < 10) %>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="<%= session[:progress_percentage] %>"
               aria-valuemin="0" aria-valuemax="100" style="width:<%= session[:progress_percentage] %>%">
            <span class="sr-only"><%= session[:progress_percentage] %>% Complete</span>
          </div>
        </div>
      <% end %>
      
      <div class="question_text">
        <h1><%= @question.question_title %></h1>
      </div>

      <div class="answer_inputs">
        <%= form_for Answer.new, url: answers_path do |f| %>
        <%= hidden_field_tag 'answer_json', '{nodata}' %>
        <%= hidden_field_tag 'question_id', @question.id %>
        <% @question.question_inputs.each do |input| %>
        <% if input.answer_type == 'textbox' %>
        <%= text_field_tag 'answer', nil, placeholder: input.answer_label, class: "fairpay-text-input" %>
        <% else %>
        <div class="<%= input.answer_type%>"> <%= input.answer_label %> </div>
        <% end %>
        <% end %>
        <% end %>
        <%= link_to 'Edit', edit_question_path(@question) %> |
        <%= link_to 'Back', questions_path %>
      </div>
    </div>
  </div>
</div>
