<!--
<%= nav_bar fixed: :top, responsive: true, class: "navbar-custom" do %>
  <a class="navbar-brand page-scroll" href="#page-top">
    <%= image_tag "fair-pay1-logo.png", class: "logo-image", alt: "FairPay" %>
  </a>
  <%= menu_group pull: :right do %>
    <% if current_user.nil? %>
      <li class="active">
        <%= content_tag :a, "Sign Up", href: "#signup-modal", class: 'btn', data: {toggle: 'modal'} %>
      </li>
      <li class="active">
        <%= content_tag :a, "Log In", href: "#signup-modal", class: 'btn', data: {toggle: 'modal'} %>
      </li>
    <% else %>
      <li class="active">
        <div> Hello <%= current_user.name %> </div>
      </li>
      <li class="active">
        <%= content_tag :a, "Log Out", href: "/signout" , class: 'btn' %>
      </li>
    <% end %>
  <% end %>
<% end %>

<%= modal_dialog id: "signup-modal",
         header: { show_close: true, dismiss: 'modal', title: 'Sign in' },
         body:   { content: link_to(image_tag("Sign-in-Large---Default.png"), "/auth/linkedin") },
         footer: { } %>
-->
