<%= nav_bar fixed: :top, responsive: true, class: "navbar-custom" do %>
  <a class="navbar-brand page-scroll" href="#page-top">
    <%= image_tag "fair-pay1-logo.png", class: "logo-image", alt: "FairPay" %>
  </a>
  <%= menu_group pull: :right do %>
    <li class="active">
      <%= content_tag :a, "Sign Up", href: "/auth/linkedin", class: 'btn', data: {toggle: 'modal'} %>
    </li>
    <li class="active">
      <%= content_tag :a, "Log In", href: "/auth/linkedin", class: 'btn', data: {toggle: 'modal'} %>
    </li>
  <% end %>
<% end %>

<%= modal_dialog id: "signup-modal",
         header: { show_close: true, dismiss: 'modal', title: 'Sign in' },
         body:   { content: image_tag("Sign-in-Large---Default.png") },
         footer: { } %>
